/* css styles */


div.quarto-post{
    margin-bottom: 3em;
    padding-bottom: 2em;
    gap: 1em;
}


div.quarto-post .metadata{
    flex-basis: 13%;
}

div.quarto-post .thumbnail {
    flex-basis: 39%;
}
/* 
.quarto-title-banner {
    margin-bottom: 1em;
    color: rgba(0, 0, 0, 0.959);
    background: hsl(33, 50%, 92%);
}

.navbar-dark {
    background-color: #423f3f;
}

 
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
} */



#quarto-margin-sidebar {
    margin-top:100px;
}

a {
    color: #314996;
    text-decoration: underline;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline;
}



details.spoiler::after {
    content: var(--hidden);
    filter: blur(6px);
  }
  
  details[open]::after {
    display: none;
  }